<div class="sidebar">
    <div class="sidebar-header">
        <h2>Course Notes</h2>
    </div>
    <ul class="nav-links">
        <li>
            <a href="index.html#home"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
            <a href="index.html#introduction"><i class="fas fa-book"></i> Introduction</a>
            <ul class="submenu">
                <li><a href="index.html#network-protocol">Network Protocol Architecture</a></li>
                <li><a href="index.html#user-plane">User Plane</a></li>
                <li><a href="index.html#control-plane">Control Plane</a></li>
                <li><a href="index.html#management-plane">Management Plane</a></li>
                
            </ul>
        </li>
        <li>
            <a href="sections/qos-sla.html"><i class="fas fa-chart-line"></i> Playback Applications</a>
        </li>
        <li>
            <a href="index.html#media-types"><i class="fas fa-photo-video"></i> Media Types</a>
        </li>
        <li>
            <a href="index.html#tech"><i class="fas fa-microchip"></i> Technology</a>
        </li>
        <li>
            <a href="index.html#development"><i class="fas fa-code"></i> Development</a>
        </li>
        <li>
            <a href="index.html#notes"><i class="fas fa-sticky-note"></i> Notes</a>
        </li>
    </ul>
</div> 